{% extends "layout.html" %} {% block title %} About {% endblock %}{% block body
%}
<div class="about-div">
  <h1 class="about-header">Committed to helping improve education worldwide</h1>
  <div>
    <img
      class="cairo-airport"
      src="/static/cai-airport.jpg"
      alt="Me and my brother in Cairo International Airport"
    />
    <p class="img-disc">My brother and I in Cairo International Airport.</p>
  </div>
  <p class="about-text first">
    Hey everyone, my name is Omar Ozalp and I'm a senior in high school. I spent
    my first ten years in Egypt and the rest of my life in the UAE. When I
    moved, the contrast amazed me and I realized the potential that could be
    achieved in Egypt if systems worked better. After a lot of thought, I
    believe that a weak education system is one of the root causes of my
    countries problems. I became obsessed with improving education, specifically
    through computer science.
  </p>
  <p class="about-text second">
    CS is a precious tool, with websites like Khan Academy transforming my
    educational experience throughout high school. My dream is to tackle these
    global educational problems, eventually transforming the system in my home
    country. My first target was the UAE, although it has a robust education
    system, one weakness I found was within tutoring. Currently, there is no
    easy way to find tutors in the country. Usually, people just ask around in
    search for tutors. This is not only extremely time-consuming, but poses a
    risk of issues during the process. I also noticed that this led to everyone
    using the same tutors, making it not only difficult for others to find
    clients but also allowing for the monopolization of the industry. For my
    first project, I will attempt to tackle this tutoring issue in the UAE.
    While this website is still in its beginning phases, I plan to get it up and
    running by April of 2024, after getting more experience in back-end web
    development. Through my time in university, I want to interact, collaborate,
    and learn from the diverse group of people around me to continue building
    new projects that help improve education worldwide.
  </p>
</div>
{% endblock %}
